---
import Layout from "../layouts/Layout.astro";
---

<Layout titulo="Evaporacion">
	<h2>Lorem ipsum dolor sit.</h2>
	<hr />
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto tenetur
		praesentium sint rem odio laboriosam ducimus beatae facere voluptate
		delectus?
	</p>
	<h3>Lorem, ipsum dolor.</h3>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eaque hic
		corrupti odit sapiente iusto qui ab laudantium officia quo ea itaque
		consequuntur, repellendus nihil iste veritatis velit. Iste, consectetur?
	</p>
</Layout>
