<!doctype html>
<html lang="es-AR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>404 - purificacion de agua</title>
	</head>
	<body>
		<h1>No hay nada por aquí</h1>
	</body>
</html>

<style>
	body{
        background-color: gray;
        color:white;
        display: grid;
        place-content: center;
        height: 100vh;
    }
</style>
